:root {
    font-size: 20px;
    font-family: sans-serif;
    background-color: #7395AE;
}
* {
    margin: 0;
    padding: 0;
}
main {
    padding: 10px;
    text-align: center;
}
header {
    font-size: 20px;
    font-family: 'Gill Sans', monospace;
    color: #F6F836;
    text-align: left;
    background-color: #5D5C61;
    padding: 0;
    margin: 0;
    border: 16px solid #5D5C61;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}
.warning {
    margin: 30px;
}
.variable_name {
    margin: 30px;
    font-size: 30px;
}
table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif, serif;
    border-collapse: separate;
    border-spacing: 10px;
    background: #5D5C61;
    color: black;
    border: 16px solid #5D5C61;
    border-radius: 40px;
    width: 90%;
    margin: auto;
    transition: 0.3s;
}
th {
    font-size: 20px;
    padding: 10px;
}
td {
    background: #E8E4E3;
    padding: 10px;
}
.card {
    position: relative;
    width: 360px;
    height: 360px;
    padding: 0 0 0 0;
    margin: 30px auto auto;
    align-items: center;
    display: flex;
    overflow: hidden;
}
#graph {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0 0 0 0;
    cursor: pointer;
    margin: 5px;
    border-radius: 10px;
    background-color: #A5EFE7;
}
#graph-back {
    position: absolute;
    left: -100px;
    right: -100px;
    top: -100px;
    bottom: -100px;
    background-image: conic-gradient(from 0deg, blue, cyan, #38C0F6, #3856F6, #7368C3, #9668C3, #BF7DFF, blue);
    animation: rotate 3s linear infinite;
    overflow: hidden
}
button {
    background-color: #9A9A9A;
    font-size: 20px;
    margin: 10px;
    padding: 5px 15px;
    transition: 0.3s;
}
button:enabled:active {
    transition: 0s;
    box-shadow: inset 0 0 0 5px #2f6144;
}
input[type="radio"] {
    margin: 0 20px;
}
input[type="text"] {
    font-size: 20px;
}

.button {
    background-color: #9A9A9A;
    font-size: 20px;
    margin: 10px;
    padding: 5px 15px;
}
.button-enabled {
    background-color: #9A9A9A;
    font-size: 20px;
    margin: 10px;
    padding: 5px 15px;
    box-shadow: inset 0 0 0 5px #2f6144;
}
.button:enabled:active {
    transition: 0s;
    box-shadow: inset 0 0 0 5px #2f6144;
}
h2::first-line, h1::first-line, .warning {
    color: #F6F836;
}
h1, h2 {
    transition: 0.3s;
}
header:hover h1 {
    opacity: 0;
}
header:hover h2 {
    text-align: center;
    transform: scale(2);
    transition-duration: 0.3s;
}
header:hover h2::after {
    content: '. ITMO, 2022';
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.clock {
    text-align: center;
    font-size: 40px;

}